# Subsetting and Descriptive Stats - Challenge 3

## Before your start:
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly: enjoy the process!
   
#### Import all the necessary libraries here:

In [1]:
# import libraries here
import pandas as pd

# [ONLY ONE MANDATORY] Challenge 3
#### Open the `Orders` dataset. Name your dataset `orders`.

In [2]:
# your code here
url = 'https://raw.githubusercontent.com/evapanizo/IronHack-Data-Module-2/master/01.-Subsetting-And-Descriptive-Stats/your-code/data/Orders.csv'
orders = pd.read_csv(url)

#### Explore your dataset by looking at the data types and summary statistics. Comment your results.

In [3]:
# your code here
orders.dtypes

Unnamed: 0        int64
InvoiceNo         int64
StockCode        object
year              int64
month             int64
day               int64
hour              int64
Description      object
Quantity          int64
InvoiceDate      object
UnitPrice       float64
CustomerID        int64
Country          object
amount_spent    float64
dtype: object

In [4]:
orders.shape

(397924, 14)

In [5]:
orders.sample()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
364388,493779,578250,23307,2011,11,3,12,set of 60 pantry design cake cases,1,2011-11-23 12:43:00,0.55,15901,United Kingdom,0.55

In [6]:
orders.describe()

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,CustomerID,amount_spent
count,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000
mean,278465.221859,560617.126645,2010.934259,7.612537,3.614555,12.728247,13.021823,3.116174,15294.315171,22.394749
std,152771.368303,13106.167695,0.247829,3.416527,1.928274,2.273535,180.420210,22.096788,1713.169877,309.055588
min,0.000000,536365.000000,2010.000000,1.000000,1.000000,6.000000,1.000000,0.000000,12346.000000,0.000000
25%,148333.750000,549234.000000,2011.000000,5.000000,2.000000,11.000000,2.000000,1.250000,13969.000000,4.680000
50%,284907.500000,561893.000000,2011.000000,8.000000,3.000000,13.000000,6.000000,1.950000,15159.000000,11.800000
75%,410079.250000,572090.000000,2011.000000,11.000000,5.000000,14.000000,12.000000,3.750000,16795.000000,19.800000
max,541908.000000,581587.000000,2011.000000,12.000000,7.000000,20.000000,80995.000000,8142.750000,18287.000000,168469.600000

In [7]:
"""
your comments here
"""

'\nyour comments here\n'

####  What is the average purchase price?

In [8]:
# your code here

print(orders['UnitPrice'].mean())

3.116174480549152

####  What is the median purchase price?

In [9]:
# your code here

orders['UnitPrice'].quantile()
# or 
orders['UnitPrice'].median()

1.95

####  What is the most frequent purchase price?

In [10]:
# your code here

orders['UnitPrice'].mode()
# or
orders['UnitPrice'].value_counts().head(1)

1.25    45841
Name: UnitPrice, dtype: int64

#### What are the highest and lowest purchase prices?

In [11]:
# your code here
print(orders.UnitPrice.min())
print(orders.UnitPrice.max())

0.0
8142.75

#### Select all the customers from Spain.
**Hint**: Remember that a customer might have more than one order associated.

In [12]:
# your code here
spain = orders[orders.Country == 'Spain']['CustomerID'].unique()
pd.DataFrame(spain).head()

       0
0  12557
1  17097
2  12540
3  12551
4  12484

#### How many customers do we have in Spain?

In [13]:
# your code here
len(spain)

30

#### Select all the customers who have bought more than 50 items.
**Hint**: Remember that you are not asked to find orders with more than 50 items but customers who bought more than 50 items. A customer with two orders of 30 items each should appear in the selection.

In [ ]:
# your code here
ordersbyqty = orders.sum().groupby('CustomerID')

In [ ]:
ordersbyqty[ordersbyqty['Quantity']>50]

In [ ]:
#### Select orders from Spain that include more than 50 items.

In [ ]:
# your code here
spain50 = orders[(orders.Quantity>50) & (orders.Country == 'Spain')]
spain50.shape
spain50.sample()

#### Select all free orders.

In [ ]:
# your code here
print(orders[orders['amount_spent']==0].shape)
orders[orders['amount_spent']==0].sample()

#### Select all orders whose description starts with `lunch bag`.
**Hint**: use string functions.

In [ ]:
# your code here
o = orders[orders.Description.str.startswith("lunch bag")]
print(o.sample())
o.shape

#### Select all `lunch bag` orders made in 2011.

In [ ]:
# your code here
o2011 = orders[(orders.Description.str.startswith("lunch bag")) & (orders.year==2011)]
print(o2011.shape)
o2011.sample()

#### Show the frequency distribution of the amount spent in Spain.

In [ ]:
# your code here
spain['amount_spent'].value_counts()

#### Select all orders made in the month of August.

In [ ]:
# your code here
aug = orders[orders.month==8]
len(aug)

#### Find the number of orders made by each country in the month of August.
**Hint**: Use value_counts().

In [ ]:
# your code here
aug = orders[orders.month==8]['Country'].value_counts()
print(aug)

#### What's the  average amount of money spent by country?

In [ ]:
# your code here
orders.groupby('Country').mean()['amount_spent']

In [ ]:
# your code here
orders.UnitPrice.max()
orders[orders.UnitPrice==8142.75][['Description','UnitPrice']]
print(orders[orders.UnitPrice==orders.UnitPrice.max()][['Description','UnitPrice']])

In [ ]:
# your code here
orders.loc[orders.UnitPrice==orders.UnitPrice.max(),['Description','UnitPrice']]

In [ ]:
# In a different order:
orders[['Description','UnitPrice']][orders.UnitPrice==orders.UnitPrice.max()]

#### What is the average amount spent per year?

In [ ]:
# your code here
pd.DataFrame(orders.groupby('year').mean()['amount_spent'])
# or
pd.DataFrame(orders.groupby('year')['amount_spent'].mean())

#### What is the total quantity sold per year and per amount spent?

In [ ]:
# your code here
pd.DataFrame(orders.groupby(['year','amount_spent']).sum()['Quantity'])

#### What is the total quantity sold per amount spent and then per year ?

In [ ]:
# your code here
pd.DataFrame(orders.groupby(['amount_spent','year']).sum()['Quantity'])

#### What is the number of customers for each specific item sold?

In [ ]:
# your code here

orders.groupby('Description').count().sort_values(by='CustomerID', ascending=False)['CustomerID']