# Pandas course

Let's continue the import export first.

# JSON

JSON is JavaScript Object Notation which can be considered as NoSQL database. Usually NoSQL databases use JSON formating to display the data.

In Python it can be considered as dictionary of dictionaries of lists of dicts, etc..

In [5]:
import pandas as pd
import os

In [6]:
os.chdir('C:\\Users\\mailb\\Documents_Administrateur\\Ironhack\\DA_BOOTCAMP\\2.Cours\\Student_Portal\\week2\\vehicles')
df=pd.read_json('vehicles.json')

In [7]:
df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [8]:
df.to_json('new_json.json', orient='split')

# CSV file

In [34]:
os.chdir('C:\\Users\\mailb\\Documents_Administrateur\\Ironhack\\DA_BOOTCAMP\\2.Cours\\Student_Portal\\week2\\vehicles')

In [35]:
data = pd.read_csv('vehicles.csv')
data

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [36]:
data['Cylinders'].mean()

5.765075656430796

# MySQL

In [12]:
os.chdir('C:\\Users\\mailb\\Anaconda3\\Lib\\site-packages')

In [13]:
import pymysql
from sqlalchemy import create_engine
import getpass

In [14]:
Hostname='localhost'
username='root'
password=getpass.getpass()
database='publications'

 Â·Â·Â·Â·Â·Â·Â·Â·Â·

In [23]:
engine=create_engine(f"mysql+pymysql://{username}:{password}@{Hostname}/{database}")

In [24]:
pd.read_sql_table('titles', engine)

,title_id,title,type,pub_id,price,advance,royalty,ytd_sales,notes,pubdate
0,BU1032,The Busy Executive's Database Guide,business,1389,19.99,5000.0,10.0,4095.0,An overview of available database systems with...,1991-06-12 00:00:00
1,BU1111,Cooking with Computers: Surreptitious Balance ...,business,1389,11.95,5000.0,10.0,3876.0,Helpful hints on how to use your electronic re...,1991-06-09 00:00:00
2,BU2075,You Can Combat Computer Stress!,business,0736,2.99,10125.0,24.0,18722.0,The latest medical and psychological technique...,1991-06-30 00:00:00
3,BU7832,Straight Talk About Computers,business,1389,19.99,5000.0,10.0,4095.0,Annotated analysis of what computers can do fo...,1991-06-22 00:00:00
4,MC2222,Silicon Valley Gastronomic Treats,mod_cook,0877,19.99,0.0,12.0,2032.0,"Favorite recipes for quick, easy, and elegant ...",1991-06-09 00:00:00
5,MC3021,The Gourmet Microwave,mod_cook,0877,2.99,15000.0,24.0,22246.0,Traditional French gourmet recipes adapted for...,1991-06-18 00:00:00
6,MC3026,The Psychology of Computer Cooking,UNDECIDED,0877,NaN,NaN,NaN,NaN,None,2014-11-07 10:39:37
7,PC1035,But Is It User Friendly?,popular_comp,1389,22.95,7000.0,16.0,8780.0,"A survey of software for the naive user, focus...",1991-06-30 00:00:00
8,PC8888,Secrets of Silicon Valley,popular_comp,1389,20.00,8000.0,10.0,4095.0,Muckraking reporting on the world's largest co...,1994-06-12 00:00:00
9,PC9999,Net Etiquette,popular_comp,1389,NaN,NaN,NaN,NaN,A must-read for computer conferencing.,2014-11-07 10:39:37
10,PS1372,Computer Phobic AND Non-Phobic Individuals: Be...,psychology,0877,21.59,7000.0,10.0,375.0,"A must for the specialist, this book examines ...",1991-10-21 00:00:00
11,PS2091,Is Anger the Enemy?,psychology,0736,10.95,2275.0,12.0,2045.0,Carefully researched study of the effects of s...,1991-06-15 00:00:00
12,PS2106,Life Without Fear,psychology,0736,7.00,6000.0,10.0,111.0,"New exercise, meditation, and nutritional tech...",1991-10-05 00:00:00
13,PS3333,Prolonged Data Deprivation: Four Case Studies,psychology,0736,19.99,2000.0,10.0,4072.0,What happens when the data runs dry? Searchin...,1991-06-12 00:00:00
14,PS7777,Emotional Security: A New Algorithm,psychology,0736,7.99,4000.0,10.0,3336.0,Protecting yourself and your loved ones from u...,1991-06-12 00:00:00
15,TC3218,"Onions, Leeks, and Garlic: Cooking Secrets of ...",trad_cook,0877,20.95,7000.0,10.0,375.0,"Profusely illustrated in color, this makes a w...",1991-10-21 00:00:00
16,TC4203,Fifty Years in Buckingham Palace Kitchens,trad_cook,0877,11.95,4000.0,14.0,15096.0,More anecdotes from the Queen's favorite cook ...,1991-06-12 00:00:00
17,TC7777,"Sushi, Anyone?",trad_cook,0877,14.99,8000.0,10.0,4095.0,Detailed instructions on how to make authentic...,1991-06-12 00:00:00

In [25]:
query="""
select * from authors  a
inner join titleauthor ta
on a.au_id=ta.au_id
"""

pd.read_sql_query(query, engine)

,au_id,au_lname,au_fname,phone,address,city,state,zip,contract,au_id,title_id,au_ord,royaltyper
0,172-32-1176,White,Johnson,408 496-7223,10932 Bigge Rd.,Menlo Park,CA,94025,1,172-32-1176,PS3333,1,100
1,213-46-8915,Green,Marjorie,415 986-7020,309 63rd St. #411,Oakland,CA,94618,1,213-46-8915,BU1032,2,40
2,213-46-8915,Green,Marjorie,415 986-7020,309 63rd St. #411,Oakland,CA,94618,1,213-46-8915,BU2075,1,100
3,238-95-7766,Carson,Cheryl,415 548-7723,589 Darwin Ln.,Berkeley,CA,94705,1,238-95-7766,PC1035,1,100
4,267-41-2394,O'Leary,Michael,408 286-2428,22 Cleveland Av. #14,San Jose,CA,95128,1,267-41-2394,BU1111,2,40
5,267-41-2394,O'Leary,Michael,408 286-2428,22 Cleveland Av. #14,San Jose,CA,95128,1,267-41-2394,TC7777,2,30
6,274-80-9391,Straight,Dean,415 834-2919,5420 College Av.,Oakland,CA,94609,1,274-80-9391,BU7832,1,100
7,409-56-7008,Bennet,Abraham,415 658-9932,6223 Bateman St.,Berkeley,CA,94705,1,409-56-7008,BU1032,1,60
8,427-17-2319,Dull,Ann,415 836-7128,3410 Blonde St.,Palo Alto,CA,94301,1,427-17-2319,PC8888,1,50
9,472-27-2349,Gringlesby,Burt,707 938-6445,PO Box 792,Covelo,CA,95428,1,472-27-2349,TC7777,3,30
10,486-29-1786,Locksley,Charlene,415 585-4620,18 Broadway Av.,San Francisco,CA,94130,1,486-29-1786,PC9999,1,100
11,486-29-1786,Locksley,Charlene,415 585-4620,18 Broadway Av.,San Francisco,CA,94130,1,486-29-1786,PS7777,1,100
12,648-92-1872,Blotchet-Halls,Reginald,503 745-6402,55 Hillsdale Bl.,Corvallis,OR,97330,1,648-92-1872,TC4203,1,100
13,672-71-3249,Yokomoto,Akiko,415 935-4228,3 Silver Ct.,Walnut Creek,CA,94595,1,672-71-3249,TC7777,1,40
14,712-45-1867,del Castillo,Innes,615 996-8275,2286 Cram Pl. #86,Ann Arbor,MI,48105,1,712-45-1867,MC2222,1,100
15,722-51-5454,DeFrance,Michel,219 547-9982,3 Balding Pl.,Gary,IN,46403,1,722-51-5454,MC3021,1,75
16,724-80-9391,MacFeather,Stearns,415 354-7128,44 Upland Hts.,Oakland,CA,94612,1,724-80-9391,BU1111,1,60
17,724-80-9391,MacFeather,Stearns,415 354-7128,44 Upland Hts.,Oakland,CA,94612,1,724-80-9391,PS1372,2,25
18,756-30-7391,Karsen,Livia,415 534-9219,5720 McAuley St.,Oakland,CA,94609,1,756-30-7391,PS1372,1,75
19,807-91-6654,Panteley,Sylvia,301 946-8853,1956 Arlington Pl.,Rockville,MD,20853,1,807-91-6654,TC3218,1,100
20,846-92-7186,Hunter,Sheryl,415 836-7128,3410 Blonde St.,Palo Alto,CA,94301,1,846-92-7186,PC8888,2,50
21,899-46-2035,Ringer,Anne,801 826-0752,67 Seventh Av.,Salt Lake City,UT,84152,1,899-46-2035,MC3021,2,25
22,899-46-2035,Ringer,Anne,801 826-0752,67 Seventh Av.,Salt Lake City,UT,84152,1,899-46-2035,PS2091,2,50
23,998-72-3567,Ringer,Albert,801 826-0752,67 Seventh Av.,Salt Lake City,UT,84152,1,998-72-3567,PS2091,1,50
24,998-72-3567,Ringer,Albert,801 826-0752,67 Seventh Av.,Salt Lake City,UT,84152,1,998-72-3567,PS2106,1,100

In [26]:
pd.read_sql_query(
"""
select * from authors  a
inner join titleauthor ta
on a.au_id=ta.au_id
""", engine)

,au_id,au_lname,au_fname,phone,address,city,state,zip,contract,au_id,title_id,au_ord,royaltyper
0,172-32-1176,White,Johnson,408 496-7223,10932 Bigge Rd.,Menlo Park,CA,94025,1,172-32-1176,PS3333,1,100
1,213-46-8915,Green,Marjorie,415 986-7020,309 63rd St. #411,Oakland,CA,94618,1,213-46-8915,BU1032,2,40
2,213-46-8915,Green,Marjorie,415 986-7020,309 63rd St. #411,Oakland,CA,94618,1,213-46-8915,BU2075,1,100
3,238-95-7766,Carson,Cheryl,415 548-7723,589 Darwin Ln.,Berkeley,CA,94705,1,238-95-7766,PC1035,1,100
4,267-41-2394,O'Leary,Michael,408 286-2428,22 Cleveland Av. #14,San Jose,CA,95128,1,267-41-2394,BU1111,2,40
5,267-41-2394,O'Leary,Michael,408 286-2428,22 Cleveland Av. #14,San Jose,CA,95128,1,267-41-2394,TC7777,2,30
6,274-80-9391,Straight,Dean,415 834-2919,5420 College Av.,Oakland,CA,94609,1,274-80-9391,BU7832,1,100
7,409-56-7008,Bennet,Abraham,415 658-9932,6223 Bateman St.,Berkeley,CA,94705,1,409-56-7008,BU1032,1,60
8,427-17-2319,Dull,Ann,415 836-7128,3410 Blonde St.,Palo Alto,CA,94301,1,427-17-2319,PC8888,1,50
9,472-27-2349,Gringlesby,Burt,707 938-6445,PO Box 792,Covelo,CA,95428,1,472-27-2349,TC7777,3,30
10,486-29-1786,Locksley,Charlene,415 585-4620,18 Broadway Av.,San Francisco,CA,94130,1,486-29-1786,PC9999,1,100
11,486-29-1786,Locksley,Charlene,415 585-4620,18 Broadway Av.,San Francisco,CA,94130,1,486-29-1786,PS7777,1,100
12,648-92-1872,Blotchet-Halls,Reginald,503 745-6402,55 Hillsdale Bl.,Corvallis,OR,97330,1,648-92-1872,TC4203,1,100
13,672-71-3249,Yokomoto,Akiko,415 935-4228,3 Silver Ct.,Walnut Creek,CA,94595,1,672-71-3249,TC7777,1,40
14,712-45-1867,del Castillo,Innes,615 996-8275,2286 Cram Pl. #86,Ann Arbor,MI,48105,1,712-45-1867,MC2222,1,100
15,722-51-5454,DeFrance,Michel,219 547-9982,3 Balding Pl.,Gary,IN,46403,1,722-51-5454,MC3021,1,75
16,724-80-9391,MacFeather,Stearns,415 354-7128,44 Upland Hts.,Oakland,CA,94612,1,724-80-9391,BU1111,1,60
17,724-80-9391,MacFeather,Stearns,415 354-7128,44 Upland Hts.,Oakland,CA,94612,1,724-80-9391,PS1372,2,25
18,756-30-7391,Karsen,Livia,415 534-9219,5720 McAuley St.,Oakland,CA,94609,1,756-30-7391,PS1372,1,75
19,807-91-6654,Panteley,Sylvia,301 946-8853,1956 Arlington Pl.,Rockville,MD,20853,1,807-91-6654,TC3218,1,100
20,846-92-7186,Hunter,Sheryl,415 836-7128,3410 Blonde St.,Palo Alto,CA,94301,1,846-92-7186,PC8888,2,50
21,899-46-2035,Ringer,Anne,801 826-0752,67 Seventh Av.,Salt Lake City,UT,84152,1,899-46-2035,MC3021,2,25
22,899-46-2035,Ringer,Anne,801 826-0752,67 Seventh Av.,Salt Lake City,UT,84152,1,899-46-2035,PS2091,2,50
23,998-72-3567,Ringer,Albert,801 826-0752,67 Seventh Av.,Salt Lake City,UT,84152,1,998-72-3567,PS2091,1,50
24,998-72-3567,Ringer,Albert,801 826-0752,67 Seventh Av.,Salt Lake City,UT,84152,1,998-72-3567,PS2106,1,100

In [27]:
df=pd.read_sql_table('employee',engine)

In [29]:
df.to_sql('new_employee_2', engine)

In [30]:
import os

In [31]:
os.listdir('../../../Downloads/czech')

FileNotFoundError: [WinError 3] Le chemin dâ€™accÃ¨s spÃ©cifiÃ© est introuvable: '../../../Downloads/czech'

In [ ]:
pd.read_csv("../../../Downloads/czech/account.asc", sep=';')

In [ ]:
path="../../../Downloads/czech/"

In [ ]:
card=pd.read_csv(path+'card.asc', sep=';')
account=pd.read_csv(path+'account.asc', sep=';')
client=pd.read_csv(path+'client.asc', sep=';')

In [ ]:
d={name[:-4]:pd.read_csv(path+name, sep=';') for name in os.listdir(path) if name.endswith('.asc')}

In [ ]:
d.keys()

In [ ]:
d["card"]

In [ ]:
engine=create_engine(f"mysql+pymysql://{username}:{password}@{Hostname}/finance")

In [ ]:
for name, data in d.items():
    print(name, 'is processing...')
    data.to_sql(name, engine)
    print(name, 'is finished!')

In [ ]:
?pd.read_json

# Data Manipulations

In [ ]:
import pandas as pd
url='https://studio.ironhack.school/asset-v1:IRONHACK+DAFT+202006_PAR+type@asset+block@datasets_674388_1186156_tv_shows.csv'

In [ ]:
df=pd.read_csv(url, index_col='Unnamed: 0')
df.head()

## Brief Information about DataFrame

In [ ]:
df.info()

## Rename columns

In [ ]:
df.columns

In [ ]:
#dumb
df.columns=['Title', 'Year', 'Age_restriction', 'IMDb', 'Rotten Tomatoes', 'Netflix', 'Hulu', 'Prime Video', 'Disney+', 'type']

In [ ]:
df.columns

In [ ]:
df.head()

In [ ]:
#good solution

#df.rename(columns={"old_name":"new_name"})
df.rename(columns={"Age_restriction":"Age"})

In [ ]:
df.head()

In [ ]:
df=df.rename(columns={"Age_restriction":"Age"})

In [ ]:
df.head()

In [ ]:
df.rename(columns={"Age":"Age_restriction"}, inplace=True)

In [ ]:
df.head()

## Change the order of columns

In [ ]:
df.columns

In [ ]:
df[['type', 'Title', 'Year', 'Age_restriction', 'IMDb', 'Rotten Tomatoes',
       'Netflix', 'Hulu', 'Prime Video', 'Disney+']]

## New column

In [ ]:
df['new_column']=4

In [ ]:
df.head()

In [ ]:
df['duplicated_column']=df.Title

In [ ]:
df.head()

I want to create a column which indicates my watchlist.  
I would like to add all the series wth average IMDb rating above 9.2 into it. 

So, series that follow the condition above will be added as 'to watch', while the rest will be added as 'skip'

In [ ]:
#select the series that follow the condition
df.IMDb>9.2

#well know it is the time to actually select the rows
df.loc[df.IMDb>9.2]

#assign the value "to watch" for those rows into a new column @watchlist
df.loc[df.IMDb>9.2, 'watchlist']='to watch'

#assign the value "skip" for the rest 
df.loc[df.IMDb<=9.2, 'watchlist']='skip'

In [ ]:
df.head()

## Unique values

In [ ]:
#number of unique values per column
df.nunique()

In [ ]:
#get a list of unique values for 1 column
df.watchlist.unique()

## frequency

In [ ]:
df.watchlist.value_counts()

In [ ]:
df['Prime Video'].value_counts()

In [ ]:
df.head()

In [ ]:
df['Disney+'].value_counts()

## Descriptive Stats

Metrics are:
* mean
* median
* max
* min
* standard deviation
* percentiles
* mode
* support (count)

In [ ]:
df.mean()

In [ ]:
df.mean(axis=1)

In [ ]:
df.mean().mean()

In [ ]:
df.median()

In [ ]:
df.min()

In [ ]:
df.max()

In [ ]:
df.quantile(q=0.25)

In [ ]:
df.quantile(q=0.75)

In [ ]:
df.count()

In [ ]:
df.std()

In [ ]:
df.var()

In [ ]:
df.mode()

In [ ]:
df.describe()

# Calculations

In [ ]:
df.sum()

In [ ]:
df.sum(axis=1)

In [ ]:
#dumb way
df.Netflix+df['Disney+']

In [ ]:
#pandas way

df['Netflix'].add(df['Disney+'])

In [ ]:
import numpy as np
4+np.nan

In [ ]:
df.IMDb+df.Hulu

In [ ]:
df.IMDb.add(df.Hulu, fill_value=0)

In [ ]:
df.Netflix-df.Hulu

In [ ]:
df.Netflix.sub(df.Hulu)

In [ ]:
df.Netflix*df.Hulu

In [ ]:
df.Netflix.mul(df.Hulu)

In [ ]:
df.Netflix/df.Hulu

In [ ]:
df.Netflix.div(df.Hulu)

# Missing values

In [ ]:
df.isna()

In [ ]:
df_missing=df.isna()

In [ ]:
df_missing.IMDb.value_counts()

In [ ]:
df.isna().sum()

# Transpose

In [ ]:
df.describe().T

In [ ]:
df.describe().transpose()

## Sort values

In [ ]:
df.sort_values('IMDb', ascending=False)

In [ ]:
df=df.sort_values(['IMDb', 'Year'], ascending=False)

In [ ]:
df.head()

## Sort index

In [ ]:
df.sort_index()

# Drop columns

In [ ]:
df.drop('duplicated_column', axis=1)

In [ ]:
df.drop(0) #drop row

In [ ]:
df.drop(['duplicated_column', 'new_column','type'], axis=1, inplace=True)

## Duplicates

In [ ]:
df.duplicated().sum()

In [ ]:
df

In [ ]:
df.duplicated(subset='Year')

In [ ]:
df.duplicated(subset=['Year', 'Netflix'])

## Drop duplicates

In [ ]:
df.drop_duplicates(subset=['Netflix','watchlist'])

In [ ]:
df

## Dropna

In [ ]:
df.dropna()

# Copy

In [ ]:
df1=df

In [ ]:
df2=df.copy()

In [ ]:
df2

In [ ]:
df1 is df

In [ ]:
df2 is df

## Fill missing values

In [ ]:
df.Age_restriction.fillna('18+')

## isin

In [ ]:
df.Age_restriction.value_counts()

I want to select all the series that my young sister is allowed to watch. She is 13 years old.

- 7+
* all
* 13+

In [ ]:
df.loc[(df.Age_restriction=='7+')| (df.Age_restriction=='13+') | (df.Age_restriction=='all')]

In [ ]:
df.loc[df.Age_restriction.isin(['7+','all','13+'])]

# String manipulations

In [ ]:
df.Title.str.lower()

In [ ]:
df.Title.str.upper()

In [ ]:
df.Title.str.title()

In [ ]:
df.Title.str.capitalize()

In [ ]:
df.Title.str.len()

In [ ]:
df.Title.str.replace('a','b')

In [ ]:
df.Title.str.split()

In [ ]:
df.Title.str.strip('y')

In [ ]:
df.columns.str.replace('+','').str.replace(' ','_')

In [ ]:
df.Title.str.split().str.get(0)

In [ ]:
df.Title.str.split().str.get(1)

In [ ]:
df.Title.str.split(expand=True)

In [ ]:
df['Rotten Tomatoes'].str.strip('%').astype(float).fillna(0)

In [ ]:
df