# Descriptive Statistics Review

## Project: Visualizing Real World Data

## Overview

![img](./shoes_pic.jpg)

The goal of this project is to practice creating and interpreting different types of visualizations using real world data.

We have chosen to study a dataset of 10,000 women's shoes and their product information provided by Kaggle at https://www.kaggle.com/datafiniti/womens-shoes-prices

The dataset includes shoe name, brand, price, and more. Each shoe will have an entry for each price found for it so some shoes may have multiple entries.

Note that our dataset is a sample of a larger dataset, which is available on a paying basis through Datafiniti's Product Database.

The following codebook is available at https://developer.datafiniti.co/docs/product-data-schema

## Libraries
Pandas and numpy will be needed for the analysis of the data.

In [1]:
import pandas as pd
import numpy as np
import re
import seaborn as sns

First we imported the data from the .csv file provided and assigned it to a variable named `shoes`.

In [2]:
#your code here
shoes = pd.read_csv('./data/shoes.csv', low_memory=False)

# 1. Taking the first look at the data.
Let's see how the data looks by using pandas methods like `head()`, `info()` and `describe()`. 

**First, use the `shape` method.**

In [3]:
# To check the size of our data, let's use the shape method.
shoes.shape

(19045, 47)

In [4]:
# Let's then have an initial look at the first 5 rows of our dataset for a first look at the features (columns) and at some of the values.
shoes.head(3)

,id,asins,brand,categories,colors,count,dateAdded,dateUpdated,descriptions,dimension,...,prices.sourceURLs,prices.warranty,quantities,reviews,sizes,skus,sourceURLs,upc,websiteIDs,weight
0,AVpfBXx21cnluZ0-cKxs,NaN,Zoot,"Shoes,Clothing,Women's Shoes,All Women's Shoes","Blue,Multicolor",NaN,2016-11-11T09:49:00Z,2016-11-11T09:49:00Z,"[{""dateSeen"":[""2016-11-11T09:49:00Z""],""sourceU...",NaN,...,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN,"10,9",NaN,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN
1,AVpfBXx21cnluZ0-cKxs,NaN,Zoot,"Shoes,Clothing,Women's Shoes,All Women's Shoes","Blue,Multicolor",NaN,2016-11-11T09:49:00Z,2016-11-11T09:49:00Z,"[{""dateSeen"":[""2016-11-11T09:49:00Z""],""sourceU...",NaN,...,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN,"10,9",NaN,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN
2,AVpfBXx21cnluZ0-cKxs,NaN,Zoot,"Shoes,Clothing,Women's Shoes,All Women's Shoes","Blue,Multicolor",NaN,2016-11-11T09:49:00Z,2016-11-11T09:49:00Z,"[{""dateSeen"":[""2016-11-11T09:49:00Z""],""sourceU...",NaN,...,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN,"10,9",NaN,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN

Comments:

We can see from the first 5 rows that there seems to be a significant number of missing data.
We can also note that prices.amountMin is the same as prices.amountMax

Let's start by having a look into this issue to decide if we should drop some columns.

We'll use the info method and the isna() method.

In [5]:
shoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19045 entries, 0 to 19044
Data columns (total 47 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   19045 non-null  object
 1   asins                2208 non-null   object
 2   brand                18412 non-null  object
 3   categories           19045 non-null  object
 4   colors               11889 non-null  object
 5   count                0 non-null      float64
 6   dateAdded            19045 non-null  object
 7   dateUpdated          19045 non-null  object
 8   descriptions         10780 non-null  object
 9   dimension            2418 non-null   object
 10  ean                  9816 non-null   float64
 11  features             14108 non-null  object
 12  flavors              0 non-null      float64
 13  imageURLs            17840 non-null  object
 14  isbn                 0 non-null      float64
 15  keys                 19045 non-null  object
 16  manufacturer         8656 non-null   object
 17  manufacturerNumber   15903 non-null  object
 18  merchants            13688 non-null  object
 19  name                 19045 non-null  object
 20  prices.amountMin     19044 non-null  object
 21  prices.amountMax     19045 non-null  object
 22  prices.availability  135 non-null    object
 23  prices.color         547 non-null    object
 24  prices.condition     12228 non-null  object
 25  prices.count         7 non-null      object
 26  prices.currency      19036 non-null  object
 27  prices.dateAdded     19041 non-null  object
 28  prices.dateSeen      19041 non-null  object
 29  prices.flavor        6 non-null      object
 30  prices.isSale        19039 non-null  object
 31  prices.merchant      14294 non-null  object
 32  prices.offer         6853 non-null   object
 33  prices.returnPolicy  752 non-null    object
 34  prices.shipping      4563 non-null   object
 35  prices.size          508 non-null    object
 36  prices.source        4 non-null      object
 37  prices.sourceURLs    19034 non-null  object
 38  prices.warranty      20 non-null     object
 39  quantities           2 non-null      object
 40  reviews              1014 non-null   object
 41  sizes                8269 non-null   object
 42  skus                 7084 non-null   object
 43  sourceURLs           19034 non-null  object
 44  upc                  10671 non-null  object
 45  websiteIDs           1 non-null      float64
 46  weight               830 non-null    object
dtypes: float64(5), object(42)
memory usage: 6.8+ MB

Comments:
As suspected many columns are null cells. Let's look at the percentage of the empty cells in each columns.

In [6]:
shoes.isna().sum()*100/len(shoes)

id                       0.000000
asins                   88.406406
brand                    3.323707
categories               0.000000
colors                  37.574166
count                  100.000000
dateAdded                0.000000
dateUpdated              0.000000
descriptions            43.397217
dimension               87.303754
ean                     48.458913
features                25.922814
flavors                100.000000
imageURLs                6.327120
isbn                   100.000000
keys                     0.000000
manufacturer            54.549751
manufacturerNumber      16.497768
merchants               28.128118
name                     0.000000
prices.amountMin         0.005251
prices.amountMax         0.000000
prices.availability     99.291153
prices.color            97.127855
prices.condition        35.794172
prices.count            99.963245
prices.currency          0.047256
prices.dateAdded         0.021003
prices.dateSeen          0.021003
prices.flavor           99.968496
prices.isSale            0.031504
prices.merchant         24.946180
prices.offer            64.016802
prices.returnPolicy     96.051457
prices.shipping         76.040956
prices.size             97.332633
prices.source           99.978997
prices.sourceURLs        0.057758
prices.warranty         99.894986
quantities              99.989499
reviews                 94.675768
sizes                   56.581780
skus                    62.803886
sourceURLs               0.057758
upc                     43.969546
websiteIDs              99.994749
weight                  95.641901
dtype: float64

Comments:
Some of the columns are very high (100% empty or mostly empty). They are the following:
- asins (88% empty) : The Amazon identifier for this product.
- count (100% empty): The number of units included in the product packaging.
- dimension (87% empty): The length, width, and height of the item.
- flavors (100% empty): A list of flavors available for this product.
- isbn (100% empty): The ISBN code for this product.
- prices.availability (close to 100% empty): A true or false if this product is available at this price
- prices.color (97%): The color associated with this price.
- prices.count (close to 100% empty): The number of units being sold at this price.
- prices.flavor (close to 100% empty): The flavor associated with this price.
- prices.ReturnPolicy (96%): The return policy associated with this price.
- prices.shipping (76%): The shipping terms associated with this price.
- prices.size (97%): The size associated with this price.
- prices.source (close to 100% empty): A list of URLs where this price was seen.
- prices.warranty (close to 100% emty): The warranty associated with this price.
- quantities (close to 100% empty): How many units of the product are available from a specific buying source at a given time.
- reviews (95%): A list of reviews for this product.
- websiteIDs (close to 100% empty): A list of identifiers used by the merchant website.
- weight (95%): The weight of this product.

Comments:
Obviously some of the columns are just non relevant. It would appear that all Datafiniti databases follow the same exact schema. So all Datafinity datasets have empty columns which are those where it made no sense to collect any info.

Here are the columns that should not even be in our shoe dataset because they are irrelevant to the shoe business: "flavors", "isbn",  "prices.availability", "prices.flavor", "prices.size".  
Let's drop these colums. 

Other columns have data that is relevant but not interesting or non-important, such as "asins", "count", "dimension", "prices.color", "prices.returnPolicy", "prices.shipping", "prices.source", "prices.warranty", "quantities", "reviews", "websiteIDs" and "weight". 
Let's drop them as well.

Finally it could have been interesting to study the number of units sold at each price ("prices.count"), but there is just not enough of information about it, so let's drop the column.

In [7]:
shoes.drop(["flavors", "isbn", "prices.availability", "prices.flavor", "prices.size", "asins", "count", "dimension", "prices.color", "prices.returnPolicy", "prices.shipping", "prices.source", "prices.warranty", "quantities", "reviews", "websiteIDs", "weight","prices.count"], axis=1, inplace=True)

In [8]:
shoes.shape

(19045, 29)

In [9]:
shoes.isna().sum()*100/len(shoes)

id                     0.000000
brand                  3.323707
categories             0.000000
colors                37.574166
dateAdded              0.000000
dateUpdated            0.000000
descriptions          43.397217
ean                   48.458913
features              25.922814
imageURLs              6.327120
keys                   0.000000
manufacturer          54.549751
manufacturerNumber    16.497768
merchants             28.128118
name                   0.000000
prices.amountMin       0.005251
prices.amountMax       0.000000
prices.condition      35.794172
prices.currency        0.047256
prices.dateAdded       0.021003
prices.dateSeen        0.021003
prices.isSale          0.031504
prices.merchant       24.946180
prices.offer          64.016802
prices.sourceURLs      0.057758
sizes                 56.581780
skus                  62.803886
sourceURLs             0.057758
upc                   43.969546
dtype: float64

In [10]:
shoes.duplicated().sum()

419

In [11]:
# We have 419 duplicated rows. This is probably an error, and it is only 2.2% of our data, so let's drop those duplicated rows.
shoes.drop_duplicates(inplace=True)
# check
shoes.duplicated().sum()

0

In [12]:
shoes.shape

(18626, 29)

Now let's check if the types of each column is what we expect. If all columns have the right type, we will be able to do all the operations that we want to do.

In [13]:
shoes.dtypes

id                     object
brand                  object
categories             object
colors                 object
dateAdded              object
dateUpdated            object
descriptions           object
ean                   float64
features               object
imageURLs              object
keys                   object
manufacturer           object
manufacturerNumber     object
merchants              object
name                   object
prices.amountMin       object
prices.amountMax       object
prices.condition       object
prices.currency        object
prices.dateAdded       object
prices.dateSeen        object
prices.isSale          object
prices.merchant        object
prices.offer           object
prices.sourceURLs      object
sizes                  object
skus                   object
sourceURLs             object
upc                    object
dtype: object

Just one column is numerical. Price columns ("prices.amountMin" and "prices.amountMax") should be numeric. Let's change them.

In [14]:
shoes['prices.amountMin'].astype('float')

ValueError: could not convert string to float: ' 1 3/4" Pf Ankle Strap Sandal"'

It looks as if there is some text-format data in our price columns. By looking at sample rows we canet see any so this must be an error. Let's force our columns to convert to numeric type.

In [15]:
#your code here
shoes['prices.amountMin'] = pd.to_numeric(shoes['prices.amountMin'], errors='coerce')
shoes['prices.amountMax'] = pd.to_numeric(shoes['prices.amountMax'], errors='coerce')
#check
shoes.dtypes

id                     object
brand                  object
categories             object
colors                 object
dateAdded              object
dateUpdated            object
descriptions           object
ean                   float64
features               object
imageURLs              object
keys                   object
manufacturer           object
manufacturerNumber     object
merchants              object
name                   object
prices.amountMin      float64
prices.amountMax      float64
prices.condition       object
prices.currency        object
prices.dateAdded       object
prices.dateSeen        object
prices.isSale          object
prices.merchant        object
prices.offer           object
prices.sourceURLs      object
sizes                  object
skus                   object
sourceURLs             object
upc                    object
dtype: object

# 2. A deeper look: checking the basic statistics.

Let's use the `describe` method to see all the descriptive metrics for our variables.

In [16]:
shoes.describe()

                ean  prices.amountMin  prices.amountMax
count  9.816000e+03      18615.000000      18620.000000
mean   7.814182e+11        110.163318        111.989324
std    8.538394e+11       1122.775463       1124.094738
min    1.234978e+06          0.000000          0.000000
25%    6.472460e+11         24.990000         25.000000
50%    8.171370e+11         45.000000         45.260000
75%    8.867372e+11         80.000000         80.000000
max    9.337610e+12     104350.000000     104350.000000

# Comments
First we can see that we have prices at zero, which does not make any sense. It must cleaned off our dataset.

Also we can see that min and max stats are very close. There is almost no difference between median at min price and median at max price, same for other percentiles, so that is a hint that probably our 2 columns are mostly the same.
Which actually make sense since each row is a different pair of shoes sold at some merchant place. Unless collected over a period where sales occured, it makes sense to consider that there is no max or min price, only a selling price.

Mean and median are not aligned especially when price is concerned. The mean is much higher than the median, 
which means that we probably have some ouliers at the expensive end.
Apparently our specimens have a similar distribution when it comes to length and width,
with similar values for Q1 and Q3. 
This means that 50% of our diamonds have a height and length of at least 4.7 mm, and less than 6.5 mm.

<span style="color:red">NDJM : Il faut également remarquer les valeurs minimales à 0 pour x y z qui sont aberrantes</span>

You have probably noticed that the columns x, y and z have a minimum value of 0. This means that there are one or more rows (or observations) in our dataset that are supposedly representing a diamond that has length, width or depth of 0. Considering that we're talking about a physical object, this is impossible!

Now let's proceed to check the rows that have a value of 0 in any of the x, y or z columns. By doing this we want to check if the data we are missing can be obtained using the data that we do have.

**Check the columns with `x`, `y` and `z` with value 0 in all of them and comment what you see**

In [17]:
#your code here
print('Nombre de lignes comprenant un zéro, que ce soit dans la col x, y ou z :', diamonds[(diamonds.x==0) | (diamonds.y==0) | (diamonds.z==0)].count()['carat'])
diamonds[(diamonds.x==0) | (diamonds.y==0) | (diamonds.z==0)]

NameError: name 'diamonds' is not defined

In [ ]:
#your code here
print('Nombre de lignes comprenant un zéro à la fois dans la col x, y ET z :', diamonds[(diamonds.x==0)&(diamonds.y==0)&(diamonds.z==0)].count()['carat'])
diamonds[(diamonds.x==0) & (diamonds.y==0) & (diamonds.z==0)]

In [ ]:
# On constate que sur les 20 lignes où figure une valeur 0 erronnées, toutes ont au moins cette valeur dans la colonne z ('depth'). 
# Pour 7 lignes, la valeur de toutes les colonnes est erronnée.
# 12 lignes ont seulement la valeur Z erronée.

As you can see, we have 20 rows that have a value of 0 in some or all the aforementioned columns.
Most of them (12) are missing the z value, which we can obtain using the columns depth, x and y. 

20 rows with issues represent just 0.03% of our data (20 out of 53940) so it wouldn't be a big deal to remove them. Still, lets try to keep all the data we have. 

For those 12 rows, we will create a function that applies the formula given in the codebook and get the value of z. We will drop the other rows (8), since they are missing all 3 values or 2 of them.

**Create a function named `calculate_z` that applies the function in the codebook to one single row you give to the function**

In [ ]:
#your code here
def calculate_z (row):
    diamonds.loc[row,'z'] = (diamonds.loc[row,'depth'] * (diamonds.loc[row,'x'] + diamonds.loc[row,'y']) / 200).round(2)
    return diamonds.loc[row]

<span style="color:red">NDJM : Non, tu prends row en input, et tu renvoies la valeur de z, ta fonction n'est pas bonne</span>

**Apply it just to the rows with incorrect values**

In [ ]:
rows = diamonds[(diamonds.z==0) & (diamonds.x !=0) & (diamonds.y !=0)]
rowlist = list(rows.index)
print('The rows to change are:', rowlist)
zlist= [calculate_z(row) for row in rowlist]
print(f'The new z rows are as follows: {zlist}')

<span style="color:red">NDJM :Trop compliqué, ça doit etre bcp plus simple</span>

In [ ]:
# check
print(diamonds[diamonds.z == 0].count()['x'])
print(list(diamonds[diamonds.z == 0].index))

If we leave the other 8 values as they are, it would negatively affect our analysis, because these are data that do not make logical sense. Therefore it is better to consider those values as NaN values, since they are probably the result of a mistake or error during process of measuring and storing these values in a dataset.

To replace them we can use the pandas .replace() method and np.NaN.

**Replace the zero values in the `z` column for a NaN**

In [ ]:
#your code here
diamonds.z = diamonds.z.replace(0, np.nan)

In [ ]:
# check
print(diamonds[diamonds.z == 0].count()['x'])

<span style="color:red">NDJM : je suis pas fan du round, plutôt utiliser np.isclose</span>

# 3. Checking for outliers
Now we are going to revisit the summary table to check for outliers.

**Use the `describe` method again and comment on what you see. After that, check if you have any outliers**

In [ ]:
#your code here
diamonds.describe()
# Our comments won't differ from the 1st time as we have only modified 20 lines out of 59940.
# Let's just mention that we can see below that we have droped 8 lines.
# Mean and median are not aligned especially when price is concerned. The mean is much higher than the median, 
# which means that we probably have some ouliers at the expensive end.
# Apparently our specimens have a similar distribution when it comes to length and width,
# with similar values for Q1 and Q3. 
# This means that 50% of our diamonds have a height and length of at least 4.7 mm, and less than 6.5 mm.

In [ ]:
print(diamonds.boxplot())

<span style="color:red">NDJM : Sélectionne price au préalable dans ton boxplot</span>

In [ ]:
#your comments here
# The boxplot method visually confirms that we have outliers in the price column.

To manage these outliers, we are going to filter our DataFrame, we're going to take all the values that have a price higher than the 75th percentile.

**Look for that quantile and filter the dataframe to clearly see the outliers. What do you think?**

In [ ]:
#your code here
# Number of outliers by column:
print(f'The price 75th percentile is at USD {diamonds.price.quantile(0.75)}. The max price is USD {diamonds.price.max()}, hence about {(diamonds.price.max()/diamonds.price.quantile(0.75)).round(1)} times higher.')
print()
diamonds[diamonds.price > diamonds.price.quantile(0.75)]

# Comments:
# The number of outliers as defined by the top 25% most expensive diamonds is 13,481.

Our dataset is really big and the outliers are really far apart from the rest of the values. To see this more clearly we will use a boxplot, which plots the median, 25th and 75th quartile, the maximum and minimum, as well as any outliers.

In [ ]:
#Run this code
fig, ax = plt.subplots(1,2, figsize=(10, 5))
sns.boxplot(y=diamonds.y, ax=ax[0])
sns.boxplot(y=diamonds.z, ax=ax[1])
plt.subplots_adjust(wspace=0.5)

Now we can see that all the values are within an acceptable range, but we have 2 big outliers in y and 1 in z. Now we know that our max values for y should be around 10 and the values for z should be around 6, so let's filter our dataset to find values higher than 10 in it.

In [ ]:
#your code here
diamonds[diamonds.z>10]

Now that we have found the outlier, let's use the function we defined earlier to correct this value. 
First, we need to change the value to 0 (because that's how we defined the function before) and then we will apply it.
**Apply `calculate_z` for the row with the outlier**

In [ ]:
#your code 
idx = diamonds.loc[diamonds.z>10,'z'].index[0]
print('Row index of outlier =',idx)
diamonds.loc[idx,'z'] = 0
# check:
print(diamonds.loc[48410])
calculate_z(48410)

Let's check if we actually corrected the outlier.

In [ ]:
#check :
diamonds.loc[48410]

Cool! Now let's validate our new `z`. We will check if we obtain the same value of depth using our validate function. If the formula applies, this means could approximate the real value of `z`.

**Apply `validate_z` to the row used earlier**

In [ ]:
#your code here
validate_z(48410)

Now let's do the same for `y`. First, let's filter the DataFrame to find the outliers. We said that the maximum values should be around 10, so let's check what are the values above 10.

**Check the values greater than 10 in the `y` column**

In [ ]:
#your code here
dfy = diamonds[diamonds.y > 10]
print(dfy)
y_rowlist = list(dfy.index)

We can clearly see that the 31.8 in row 49189 is an outlier for the y value. Also, we can see that the 58.9 value for `y` in row 24067 is actually its depth, so it was a mistake when they introduced the data. Let's create a function to fix these outliers.

**Create a function named `calculate_y` to calculate `y` using `z` and `x` the same way you did above**

In [ ]:
#your code here
def calculate_y(row):
    diamonds.loc[row,'y'] = ((200 * diamonds.loc[row,'z'] / diamonds.loc[row,'depth']) - diamonds.loc[row,'x']).round(2)
    return diamonds.loc[row]

<span style="color:red">NDJM : Même chose que pour calculate z</span>

We will check the rows that had an outlier in `y`, to check that the values were changed.

**Check those rows (also validating with your function) and comment what you see**

In [ ]:
#your code here
print('Updated rows are as follows:')
[calculate_y(row) for row in y_rowlist]
diamonds.loc[y_rowlist,:]

In [ ]:
# Comments:
# We can see that applying our function to all y values above 10 has corrected those values. 
# In particular the 2 rows that were the most out of line with the others are now more in synch (58.9 --> 19.28 and 31.8 --> 11.42.)

Now that we have corrected or dropped all of our outliers, lets plot another box plot to double check.

In [ ]:
#Run this code
fig, ax = plt.subplots(1,2, figsize=(10, 5))
sns.boxplot(y=diamonds.y, ax=ax[0])
sns.boxplot(y=diamonds.z, ax=ax[1])
plt.subplots_adjust(wspace=0.5)

**What do you think? Are these values more reasonable?**

In [ ]:
#your thoughts here
# We can see that our 3 outliers are still outliers, but their value has decreased tremendously.
# It is reasonable to assume that the values of these 3 outliers were incorrect, and that we were right to correct them.

**Once you are happy with your cleaning, save the cleaned data and continue to csv. Your new csv should be named ``diamonds_clean``**

In [ ]:
#your code here
shoes.to_csv('shoesclean.csv')